@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya');
@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
 }


 /*Header & Banner*/

header{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, #9DDA73, #32C08B);
    color:white;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    font-size: 1.6rem;
}
.contenedor{
    width: 98%;
    margin: auto;
    }
.contenedor .title{
    font-family: 'Luckiest Guy', cursive;
    }
#menu-bar{
    display: none;
}
header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.title{
    float: left;
    padding: 7px;
}
.navbar-menu{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right, #9DDA73, #32C08B);
    transition: all, 0.5s;
    transform: translateX(-100%);
}

header.contenedor{
    display: table;

}
.navbar-menu li{
    height: 50px;
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px solid rgba(21, 143, 243, 0.13);
    text-decoration: none;
}
.navbar-menu a {
    text-decoration: none;
    color: white;
}
.navbar-menu li:hover{
    background: rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .navbar-menu{
    transform: translateX(0%);
}
.banner p {
    font-size: 1rem;
    width: 50%;
    font-family: 'Lato', sans-serif;       
    }
.banner{
    margin-top: 50px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
}
.banner .btn-empezar{
    display:block;
    width: 70px;
    background-image:linear-gradient(to right, #9DDA73, #32C08B);
    color:white;
    padding:5px;
    margin-top:30px;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
@media (min-width:700px){
    .navbar-menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex; 
    }
    .navbar-menu .nav{
        display: flex;
        flex-flow: row nowrap;
    }
    .navbar-menu .nav:hover{
       background: rgba(255,255,255,0.3)
    }
    .navbar-menu li{
        border: none;
        }
    header label{
        display: none;
    }
    .banner p {
        font-size: 5rem;
        font-weight: bold;
        text-shadow: 10px 10px 10px black;
        color: #06DDD9;
    }
    .banner .btn-empezar{
        padding:20px;       
        font-size: 2rem;
        width: 150px;
    }
}

/* diseño de funcionalidades*/

.section-card .process-data{

    background-image:linear-gradient(to right, #9DDA73, #32C08B);
    width: 100%;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around;
    }
.btn-option {
    margin: 1rem 0.5rem;
    padding: 1rem;
    width: 110px;
    background-color: rgba(13, 131, 105, 0.733);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    border-color:rgb(138, 245, 222,0.5);
    box-shadow: 0.5rem 0.5rem 1rem rgb(0, 255, 234); 
    }
.select-type {
    margin: 1rem;
    width: 110px;
    padding: 1rem;
    border-color: rgba(13, 131, 105, 0.733);
    border-radius: 10px;
}


/*Cards*/

.section-card {
    padding: 2rem 0;
    background-color:rgb(0,79,38);
    width: 100%;
}

.heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    padding: 1%;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 25rem;
    background-color: rgb(138, 245, 222,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
    padding:1.5rem;
    box-shadow: 0.5rem 0.5rem 3rem rgb(0, 255, 234);      
}

.card-img {
   margin: 1rem 0;
}


.card p {
    font-size: 1.5rem;
}

.card .name-pokemon {
    font-size: 2rem;
    color: white;
}

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 2rem;
    }

    @keyframes movementofcards {
        0% {opacity: 0;}
        100%{opacity: 1;}
    }
    .card:nth-child(n){
        animation: movementofcards .5s .5s backwards;
    }
}

/* Estadísticas */

.computer {
    background-color: rgb(25, 133, 93);
    width: 100%;
    padding: 3%;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
}

.computer div {
    width: 98%;
    margin: 2% 1%;
    background-image:linear-gradient(to right, #9DDA73, #32C08B);
    color: white;
    padding: 1%;
    }

.computer .charts{
    position: relative;
    padding: 3%;
    }
    
.computer div h1 {
    margin-bottom: 1rem;
}
.titlecomputer {
    background-image:linear-gradient(to right, rgb(226, 243, 74),rgb(206, 223, 148));
    color: white;
  
}
footer {
    background-color: rgb(77, 85, 5);
    color: white;
    text-align: center;
}

@media screen and (min-width: 700px) {
.computer {
    display: flex;
    justify-content: space-around;
}

footer {
    font-size: 1.5rem;
}

.computer div {
    width: 42%;
}
}

